@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);
  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Ubuntu';
  background-color: gray;
  height: 100vh;
  /* border: 10px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em;
  border-radius: 10px;
  display: flex;
  background-color: white;
}

.form-group {
  margin-top: 2em;
}

.NextStep {
  margin-top: 2em;
  float: right;
}

.Goback {
  margin-top: 2em;
}

.img-steps {
  height: 568px;
  width: 274px;
  color: white;
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 2em;
}

.step-no {
  border: 1px solid white;
  display: block;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.right {
  margin-left: 1em;
}

.right.w-100 {
  padding: 2em;
}

.step {
  display: flex;
  margin-top: 2em;
  align-items: center;
}

.step-name {
  font-size: 0.9em;
}

.form-control {
  font-weight: 600;
}

.step-info {
  font-size: 1em;
}

.active {
  background-color: rgb(87, 118, 128);
}

.c1 {
  width: max-content;
}

.form-check-input {
  scale: 1.2;
  margin-top: .5em;
}

.plan {
  width: 30%;
  margin-right: 1em;
}

.plani {
  width: 50%;
}

@media only screen and (max-width: 700px) and (min-width: 100px) {
  .img-steps {
    background-size: cover;
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: space-around;
  }

  .container {
    flex-direction: column;
  }

  .img-steps .right {
    display: none;
  }

  .plan {
    width: 90%;
    margin-right: 0em;
    margin-top: 0.5em;
  }

  .plani {
    width: 20%;
  }

  .extra {
    display: flex;
    flex-direction: row;
  }

  .info {
    margin-left: 3em;
  }

  .hi {
    width: 70%;
  }

  .month {
    text-align: end;
  }
}